<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/amresh.maurya.714">Facebook</a></li>
            {% comment %} <li><i class="bi bi-facebook"></i></li {% endcomment %}
            <li><a href="https://twitter.com/AmreshM45932530">Twitter</a></li>
            <li><a href="https://instagram.com/amresh718">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/amaresh-maurya-816408184">Linkedin</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=919839426713&text=Hello%20Amaresh Maurya.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#">WhatsApp</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2022 Stand Recipes <br>
              Amaresh Maurya
                  
               {% comment %} | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </footer>